Employee.xsd

<?xml version="1.0"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="https://www.w3schools.com"
xmlns="https://www.w3schools.com"
elementFormDefault="qualified">
<xs:element name="employee">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="empno" type="xs:integer"/>
			<xs:element name="empname" type="xs:string"/>
			<xs:element name="salary" type="xs:salary"/>
			<xs:element name="band" type="xs:string"/>
			<xs:element name="date" type="xs:date"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
</xs:schema>